.item :global(em) {
  padding: 1px;
  background-color: var(--md-sys-color-primary);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  text-shadow: 0 0;
  color: var(--md-sys-color-on-primary);
}
