.TagList-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.TagList-items {
  display: flex;
  gap: 6px;
  margin-top: 10px;
  font-size: 12px;
}

.TagList-item {
  padding: 2px 4px;
  border: 1px solid #442c2e;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.TagList-item:hover {
  border-color: var(--color-primary-dark);
}

.TagList-title {
  font-weight: bold;
}